<h3>Here's your grocery list</h3>
<%= link_to 'Back', '/recipes' %>
<ul class="list-group">
<% @measurements.each do |m| %>
<li class="list-group-item">
  <p><%= m.ingredient.name %> X <%= m.amount %></p>
</li>
<% end %>
</ul>
