<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This application was made by Griffin Mareske
  (<a href="mailto:gmareske@gmail.com">gmareske@gmail.com</a>) to help
  with grocery shopping and meal planning.
  It abstracts the analog process that I already did when planning out what
  items to buy at the grocery store.
</p>
<p>
  From the main <%= link_to 'recipes page', :recipes %>, check the recipes you
  plan to make for the week, then click the 'Generate List' button.
  The tool will calculate how much of each ingredient you'll need to buy in
  order to make your selected recipe.
</p>
<p>
    If you experience any issues with the site, please send an email to the
    address above, or open an issue on
    the <a href="https://github.com/gmareske/shopping-cart">Github repo</a>.
</p>
<h2>Portfolio Explanation</h2>
<p>I think this project does a good job of showcasing my initial development with
Rails.
It shows a novel and interesting use of dynamic web applications that differs a
lot from what is shown in Rails tutorials.
It involves some non-trivial processing on both the client side and the server
side.
On the client side, the application has to allow users to define arbitrary
ingredients for their personal recipes.
On the server side, an arbitrary recipe from
the user has to be safely converted into a database object, and then presented
back with the correct data.
I started off the semester not really knowing how web applications frameworks
did all the magic behind the scenes, and I think the current state of my project
shows that I've figured out some of the internals of Rails and web development
in general.
</p>
