<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This application was made by Griffin Mareske
  (<a href="mailto:gmareske@gmail.com">gmareske@gmail.com</a>) to help
  with grocery shopping and meal planning.</p>
<p>
  From the main <%= link_to 'recipes page', :recipes %>, add the recipes you
  plan to make.
  The tool will calculate how much of each ingredient you'll need to buy in
  order to make your selected recipe.
</p>

