<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This application was made by Griffin Mareske
  (<a href="mailto:gmareske@gmail.com">gmareske@gmail.com</a>) to help
  with grocery shopping and meal planning.
  It abstracts the analog process that I already did when planning out what
  items to buy at the grocery store.
</p>
<p>
  From the main <%= link_to 'recipes page', :recipes %>, check the recipes you
  plan to make for the week, then click the 'Generate List' button.
  The tool will calculate how much of each ingredient you'll need to buy in
  order to make your selected recipe.
</p>
<p>
  If you experience any issues with the site, please send an email to the
  address above, or open an issue on
  the <a href="https://github.com/gmareske/shopping-cart">Github repo</a>.
</p>
