<% provide(:title, 'Home') %>
<h1>Shopping Cart</h1>
<button class="btn btn-primary">Test Primary</button>
<button class="btn btn-warning">Test Warning</button>
<button class="btn btn-info">Test Info</button>
<button class="btn btn-success">Test Success</button>
<button class="btn btn-danger">Test Danger</button>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Homepage for the shopping cart application!</p>
<p>Need something to eat? Try <%= link_to "shopping with Chaos!", random_list_path%></p>

