<% provide(:title, 'All Recipes') %>
<h1>Recipes</h1>
<p>A list of all recipes tracked by the system.</p>
<ul class="list-group">
  <% @recipes.each do |r| %>
  <li class="list-group-item">
    <div class="container">
      <div class="col-sm-8">
        <span class="recipe-title"><%= r.title.capitalize %></span>
      </div>
      <div class="col-sm-4">
      <%= link_to r do %>
      <button class='btn btn-info'>View</button>
      <% end %>
      <button class="btn btn-success">Add</button>
      </div>
      <!-- <p><span class="recipe-ingredient"></span> -->
      <!--   <span class="recipe-amount"></span> -->
      <!-- </p> -->
    </div>
  </li>
  <% end %>
  
</ul>
