$primary: #cf8d68;
$brand-primary: #cf8d68 ;
$brand-success: #73a557;
$brand-info: #533a46;
$brand-warning: #f1951f;
$brand-danger: #f44336;
$light: #f6f4f0;
$dark: #533a46;
$light-shade: #f6f4f0;
$light-accent: #bb9fa6;
$main: #cf8d68;
$dark-accent: #a45070;
$dark-shade: #533a46;
$body-bg: $light-shade;
