<ul class="list-group">
  <% @measurements.each do |m| %>
  <li class="list-group-item">
    <div class="container">
      <p><span class="ingredient-name"><%= m.ingredient.name.capitalize %></span>
        x <u><span class="ingredient_amount"><%= m.amount%></span></u></p>
      <button class="btn-small btn-danger">Remove</button>
      <!-- <p><span class="recipe-ingredient"></span> -->
      <!--   <span class="recipe-amount"></span> -->
      <!-- </p> -->
    </div>
  </li>
  <% end %>
</ul>
